.DS_Store
Thumbs.db
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.vcxproj
*.filters

*.exe
*.out
*.app
*.o
*.obj
*.dll
*.so
*.dylib

*.pdb
*.ilk
*.lk
*.log

build/
x64/
Debug/
Release/
.vs/
ipch/

__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
ENV/
env/

.env
.env.secret